<header id="layout-header">
  <nav>
    <div class="main-logo">
      <a href="/">
        <img src="https://img.icons8.com/dusk/30/000000/checked--v1.png" />
        <p>authentication</p>
      </a>
    </div>

    <div class="auth-links">
      <ul>
        <% if (locals.user) { %>
        <li>
          <!-- when we click on name it redirect to user profile page -->
          <a href="/users/profile/<%=user._id%>" style="font-size: 16px"
            ><div class="user-btn"><%= user.name %></div></a
          >
        </li>
        <li>
          <a href="/users/destroysession">
            <button class="auth-btn">SignOut</button>
          </a>
        </li>
        <%if(user.avatar){%>
          <a href="/users/profile/<%=user._id%>">
            <img
              src="<%= user.avatar %>"
              alt="<%= user.name %>"
              width="30"
              height="30"
              style="
                border-radius: 50px;
                border: none;
                position: relative;
                top: -1px;
                object-fit: cover;
                box-sizing: border-box;
              "
            />
          </a>
        <%}else{%>
          <a href="/users/profile/<%=user._id%>">
            <img
              src="/image/download.jpg"
              alt="<%= user.name %>"
              width="30"
              height="30"
              style="
                border-radius: 50px;
                border: none;
                position: relative;
                top: -1px;
                object-fit: cover;
                box-sizing: border-box;
              "
            />
          </a>
            <%}%>
       
        <% }else{ %>
        <li>
          <a href="/users/signup">
            <button class="auth-btn">Sign Up</button>
          </a>
        </li>

        <li>
          <a href="/users/signin">
            <button class="auth-btn">Login</button>
          </a>
        </li>

        <% } %>
      </ul>
    </div>
  </nav>
</header>
