<link rel="shortcut icon" href="/images/profile1.jpg" type="image/x-icon" />
<link rel="stylesheet" href="/css/profile.css" />

<% if(locals.user){%>
<div class="settings">
  <div class="image-container">
    <img src="<%=user.avatar%>" alt="<%=user.name%>" id="img" />
  </div>

  <!-- account or profile -->
  <div id="account">
    <div class="field">
      <div class="field-label">Name</div>
      <div class="field-label"><%=user.name%></div>
    </div>

    <div class="field">
      <div class="field-label">Email</div>
      <div class="field-label"><%=user.email%></div>
    </div>
    <div class="btn-grp">
      <button id="edit-btn" onclick="editbtn()">Edit Profile</button>
    </div>
  </div>

  <!-- Edit profile form -->
  <div id="form">
    <form
      action="/users/update/<%=user.id%>"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="field">
        <div class="field-label">Name</div>
        <input type="text" name="name" value="<%=user.name%>" />
      </div>
      <div class="field">
        <div class="field-label">Email</div>
        <input type="email" name="email" value="<%=user.email%>" />
      </div>

      <div class="field">
        <div class="field-label">
          <label for="image" style="cursor: pointer">Choose Image</label>
        </div>
        <input type="file" name="avatar" id="image" style="display: none" />
      </div>

      <div class="btn-grp">
        <button class="save-btn">Save Changes</button>
      </div>
    </form>

    <!-- Delete account button -->
    <!-- <div class="btn-grp">
      <a href="/users/destroy/<%=user.id%>" style="width: 100%">
        <button class="delete-btn">Delete Account</button>
      </a>
    </div> -->

    <!-- button for hiding edit form -->
    <div class="go-back" id="go" onclick="go()">Go Back</div>
  </div>
</div>

<% }else{%>
<p><a href="/users/signin">SignIn</a></p>
<p><a href="/users/signup">SignUp</a></p>
<% } %>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/profile.js"></script>
