<link rel="shortcut icon" href="/images/profile1.jpg" type="image/x-icon">

<% if(locals.user){%>
    <h1>Profile</h1>
    <p><h4><%=user.email%></h4></p>
    <p><h4><%=user.name%></h4></p>
    <form action="/users/update/<%=user.id%>" method="POST">
        <input type="email" name="email" value="<%=user.email%>">
        <input type="text" name="name" value="<%=user.name%>">
        <input type="submit" value="submit">
    </form>
    <p> <a href="/users/destroysession">SignOut</a> </p>
<% }else{%>
    <p><a href="/users/signin">SignIn</a></p>
    <p><a href="/users/signup">SignUp</a></p>
<% } %>
